# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# dbt generated directories
target/
dbt_packages/
logs/

# Secrets and credentials (crucial if you add keys later)
*.json
*.env
.env
profiles.yml